extends base

block content
  section 
    .circle
    .header 
      ul.nav 
        li 
          a(href="/") Home
        li 
          a What's New 
        li 
          a(href="") Logout
    .content 
      .textBox 
        h2 Stay Organized Stay Creative 
        p Improve engagement and enhance communication in your organization.  Build a trusted network of connections by capturing concerns, gathering ideas and feedback, and keeping everyone in your organization informed, consistent, and up-to-date with the help of us
        a Read more
    ul.sci 
      li 
        a
          i.bx.bxl-facebook
      li 
        a
          i.bx.bxl-google
      li 
        a
          i.bx.bxl-linkedin
    .imgBox
      .swiper.mySwiper 
        .swiper-wrapper 
          .swiper-slide 
            img#image(src="/img/4.svg", alt="")
          .swiper-slide 
            img#image(src="/img/2svg.svg", alt="")
          .swiper-slide 
            img#image(src="/img/3svg.svg", alt="")
          .swiper-slide 
            img#image(src="/img/5.svg", alt="")
          .swiper-slide 
            img#image(src="/img/1v.svg", alt="")
        .swiper-pagination