extends base

block content
  //- .getting-svg
  //-   img(src="/img/getting.svg", alt="")
  //-   img.blob-getting(src="/img/blob.svg", alt="")
  .wrapper-op 
    h2.title-op Choose your interests
    .card-op 
      img(src="/img/machine3.png", alt="")
      .info-op 
        h1 Machine learning
        a.btn-op(data-type= 'ML') Let's Start
    .card-op 
      img(src="/img/Web design3.png", alt="")
      .info-op 
        h1  Web design
        a.btn-op(data-type= 'WD') Let's Start
    .card-op 
      img(src="/img/ai3.jpg", alt="")
      .info-op 
        h1 Artificial Intelligence
        a.btn-op(data-type= 'AI') Let's Start
      
          
